<main>
    <p-card styleClass="card-adjust mt-5 mx-3">
      <div class="col-12 mb:col-9 lg:col-3"></div>
      <h4>PROGRAMAÇÃO DE TROCA DE MOLDES</h4>
      <div class="p-mb-4">  
      </div>
      <p-table #tabela [columns]="cols" [value]="trocamoldes" dataKey="id" [rows]="30" editMode="row" styleClass="p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="btnEditar" *ngIf="auth.temPermissao('change_trocamoldepcp')">&nbsp;</th>
            <th *ngFor="let col of columns; let i= index" [ngStyle]="{'min-width': col.width}">
                {{ col.header }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-trocamolde let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="trocamolde">
                <td *ngIf="auth.temPermissao('change_trocamoldepcp')">
                    <div >
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow  class="p-button-raised" pTooltip="Editar"
                            icon="pi pi-pencil" tooltipPosition="top" (click)="editar(trocamolde)">
                        </button>
                        <p-confirmPopup key="confirmPopup" />
                        <button *ngIf="!editing" pButton pRipple type="button"  class="p-button-raised" pTooltip="Excluir"
                            icon="pi pi-times" tooltipPosition="top" (click)="confirmExcluir($event, trocamolde.id)">
                        </button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow  [disabled]="!isFormValid()" class="p-button-raised p-button-success" pTooltip="Salvar"
                            icon="pi pi-check" (click)="salvar(trocamolde)">
                        </button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow  class="p-button-raised p-button-secondary" pTooltip="Cancelar"
                            icon="pi pi-times" (click)="cancelar(trocamolde, ri)">
                        </button>
                    </div>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown
                              [filter]="true"
                              filterBy="label"
                              optionLabel="label"
                              optionValue="value"
                              #atributo="ngModel"
                              name="injetora"
                              styleClass="dropdown"
                              [options]="maquinas"
                              appendTo="body"
                              [(ngModel)]="trocamolde.injetora.id"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            INJETORA {{trocamolde.injetora.numero}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown
                              [filter]="true"
                              filterBy="label"
                              optionLabel="label"
                              optionValue="value"
                              #atributo="ngModel"
                              name="molde_maquina"
                              styleClass="dropdown"
                              [options]="moldes"
                              appendTo="body"
                              [(ngModel)]="trocamolde.molde_maquina.id"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{trocamolde.molde_maquina.nome}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div [ngClass]="getStatusClass(trocamolde.status_molde)" class="status-container">
                        <p-dropdown
                            [options]="statusm"
                            appendTo="body"
                            [(ngModel)]="trocamolde.status_molde"
                            (onChange)="!editing ? atualizarStatus(trocamolde) : null"
                            [styleClass]="'status-dropdown'">
                            <ng-template pTemplate="selectedItem">
                                {{trocamolde.status_molde}}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div [ngClass]="getStatusClass(item.value)" class="status-item">
                                    {{item.label}}
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown
                              [filter]="true"
                              filterBy="label"
                              optionLabel="label"
                              optionValue="value"
                              #atributo="ngModel"
                              name="molde_maquina"
                              styleClass="dropdown"
                              [options]="moldes"
                              appendTo="body"
                              [(ngModel)]="trocamolde.proximo_molde.id"/>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ trocamolde.proximo_molde.nome }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div [ngClass]="getStatusClass(trocamolde.status_troca)" class="status-container">
                        <p-dropdown
                            [options]="statust"
                            appendTo="body"
                            [(ngModel)]="trocamolde.status_troca"
                            (onChange)="!editing ? atualizarStatus(trocamolde) : null"
                            [styleClass]="'status-dropdown'">
                            <ng-template pTemplate="selectedItem">
                                {{ trocamolde.status_troca }}
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div [ngClass]="getStatusClass(item.value)" class="status-item">
                                    {{item.label}}
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input" >
                        <p-calendar styleClass="w-full" 
                          name="data" 
                          baseZIndex="99999" 
                          appendTo="body" 
                          showButtonBar="true" 
                          [monthNavigator]="true"
                          [yearNavigator]="true" 
                          yearRange="2010:2050" 
                          [(ngModel)]="trocamolde.data_prevista"
                          #dtproducao="ngModel" 
                          dateFormat="dd/mm/yy"
                          [showIcon]="true" 
                          >
                        </p-calendar>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{trocamolde.data_prevista | date:'dd/MM/yyyy'}}
                      </ng-template>
                  </p-cellEditor>
                </td>
                <td [pEditableColumn]="trocamolde.data_realizada" pEditableColumnField="data_realizada">
                    <p-cellEditor>
                        <ng-template pTemplate="input" >
                          <p-calendar styleClass="w-full" 
                            name="data" 
                            baseZIndex="99999" 
                            appendTo="body" 
                            showButtonBar="true" 
                            [monthNavigator]="true"
                            [yearNavigator]="true" 
                            yearRange="2010:2050" 
                            [(ngModel)]="trocamolde.data_realizada"
                            #dtproducao="ngModel" 
                            dateFormat="dd/mm/yy"
                            [showIcon]="true" 
                            (onClose)="!editing ? atualizarDataRealizada(trocamolde) : null">
                          </p-calendar>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{trocamolde.data_realizada | date:'dd/MM/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="trocamolde.data_realizada" pEditableColumnField="data_realizada">
                    <p-cellEditor>
                        <ng-template pTemplate="input" >
                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="trocamolde.observacoes" name="obs" #obs="ngModel" ngModel></textarea>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{trocamolde.observacoes }}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
      </p-table>
      <td class="btnAdd" *ngIf="auth.temPermissao('change_trocamoldepcp')" >
        <button pButton pRipple type="button" class="p-button-raised" pTooltip="Adicionar"
          icon="pi pi-plus" tooltipPosition="top" (click)="adicionar()" *ngIf="!this.editingProduct">
        </button>
      </td>
    </p-card>
    
  </main>
